<html>
  <head>
    <title>MADE 2019-2020 Final Project</title>
    <link href="../static/signup.css" rel="stylesheet">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <style>
      #map {
        width: 50%;
        height: 50%;
        background-color: grey;
      }
     </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted" align='center'>Определение троллинга в Ответах Mail.ru</h3>
      </div>
      <div class="jumbotron">
        <div>
          <h4>Информация по запросу</h4>
          <p>Вопрос: {{question}}</p>
          <p>Ответ: {{answer}}</p>
          <p>Вероятность троллинга: {{prob}}</p>
          <!-- <h4>Рейтинг дома</h4>
            <img src= {{name}}/>-->
      </div>
    
    </div>
    <footer class="footer">
      <br/>
      <p>&copy; communitysixdevelopers 2020</p>
    </footer>
  </body>
</html>