<!DOCTYPE html>

<head>
    <title>MADE 2019-2020 Final Project</title>
    <link href="../static/signup.css" rel="stylesheet">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted" align='center'>Определение троллинга в Ответах Mail.ru</h3>
        </div>
        <div class="jumbotron">
            <h1 align = 'center'>Тут что-то еще</h1>
            <p class="lead"></p>
            <p align='center'><a class="btn btn-lg btn-success" href="find" role="button">Начать работу!</a>
            </p>
        </div>
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Антон Закладный</h4>
                <p>Разработал модель и познакомился со всеми вокруг. <br/>
                <!-- Разговаривал даже во сне.</p> -->
                <h4>Егор Обидин</h4>
                <p>Разработал модель и познакомился со всеми вокруг. </p>
                <h4>Eskender Dzhemadinov</h4>
                <p>Разработал модель и познакомился со всеми вокруг. </p>
            </div>
            <div class="col-lg-6">
                <h4>Кирилл Иванов</h4>
                <p>Организовал наше время и мотивировал команду.</p>
                <!-- <br/> -->
                <h4>Николай Ковтун</h4>
                <p>Организовал наше время и мотивировал команду.</p>
                <h4>Одегов Илья</h4>
                <p>Организовал наше время и мотивировал команду.</p>
            </div>
        </div>
        <footer class="footer">
            <br/>
            <p>&copy; communitysixdevelopers 2020</p>
        </footer>
    </div>
</body>
</html>