<!DOCTYPE html>
<html class="back_image">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/style_fonts.css" type="text/css">
		<link rel="stylesheet" href="../static/style_menu.css" type="text/css">
		<link rel="stylesheet" href="../static/style.css" type="text/css">
		<title>Troll detector</title>
		<link rel="shortcut icon" href="../static/pic/troll.png" type="image/png">
	</head>
	<body>
		<header class="wrapper">
			<h1 class="name_service">Сервис по определению троллинга<br>в ответе на вопрос</h1>
		</header>
		<div class="content" style="text-align: center;">
			<nav>
				<ul class="top-menu">
					<li><a href="/q_a/"> Вопрос-ответ</a></li>
					<li><a href="/link/">Поиск по ссылке</a></li>
					<li class="active"><a href="/history/">История запросов</a></li>
					<li><a href="/service/">О сервисе</a></li>
				</ul>
			</nav>
			<br>
			<script src="../static/doubleClickRowTable.js"></script>
			<iframe 
				style="width: 100%; border: 0px; text-align: center;"
				src="/table_history/"
				height="650">
			</iframe>
		</div>
		<footer></footer>
	</body>
</html>