<!DOCTYPE html>
<html class="back_image">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/style_fonts.css" type="text/css">
		<link rel="stylesheet" href="../static/style_menu.css" type="text/css">
		<link rel="stylesheet" href="../static/style.css" type="text/css">
		<title>Troll detector</title>
		<link rel="shortcut icon" href="../static/pic/troll.png" type="image/png">
	</head>
	<body>
		<header class="wrapper">
			<h1 class="name_service">Сервис по определению троллинга<br>в ответе на вопрос</h1>
		</header>
		<div class="content">
			<nav>
				<ul class="top-menu">
					<li><a href="/q_a/">Вопрос-ответ</a></li>
					<li><a href="/link/">Поиск по ссылке</a></li>
					<li><a href="/history/">История запросов</a></li>
					<li class="active"><a href="/service/">О сервисе</a></li>
				</ul>
			</nav>
			<br>
			<p style="margin-left: 100px; font-size: 20px;">
				Сервис разработан для пользователей и владельцев сервисов.<br>
				Тролли мешают общению пользователей, их оскорбляют,выдают не верную информацию?<br>
				У нас есть решение!<br><br>
				Чем так хорош наш сервис?<br>
				<ul style="margin-left: 100px; font-size: 16px">
					<li>наш сервис помогает определить потенциального тролля</li>
					<li>у сервиса есть API, так что его можно встроить в ваш проект</li>
					<li>API легко использовать</li>
					<li>гибкую модель возможно настроить под ваши нужды</li>
				</ul>
				<a style="margin-left: 100px;" href="https://github.com/communitysixdevelopers/web_api">
					<img src="../static/pic/github.png" width="10%" height="10%" alt="Лого github" title="Переход к API"></a>
			</p>
			<!--<img src="../static/pic/made.PNG" 
				alt="Логотип Акдемии Больших Данных MADE" 
				id="made_logo">-->
		</div>
		<footer></footer>
	</body>
</html>