<!DOCTYPE html>
<html class="back_image">
	<head>
		<meta charset="utf-8">
		<!--<link rel="stylesheet" href="{{ url_for('static', filename='style_font_Oswald.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style_menu.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">-->
		<link rel="stylesheet" href="../static/style_fonts.css" type="text/css">
		<link rel="stylesheet" href="../static/style_menu.css" type="text/css">
		<link rel="stylesheet" href="../static/style.css" type="text/css">
		<title>Troll detector</title>
		<link rel="shortcut icon" href="../static/pic/troll.png" type="image/png">
	</head>
	<body>
		<div id="div_aut" class="head_aut" style="text-align: right;"> 
			<nav>
				<ul class="top-menu">
					<li><a href="/">Войти</a></li>
					<li><a href="/">Регистрация</a></li>
				</ul>
			</nav>
		</div>
		<header class="wrapper">
			<h1 class="name_service">Сервис по определению троллинга<br>в ответе на вопрос</h1>
		</header>
		<div class="content" style="text-align: center;">
			<nav>
				<ul class="top-menu">
					<li><a href="/q_a/"> Вопрос-ответ</a></li>
					<li><a href="/link/">Поиск по ссылке</a></li>
					<li><a href="/history/">История запросов</a></li>
					<li><a href="/service/">О сервисе</a></li>
				</ul>
			</nav>
		</div>
		<footer class="footer">
			<p style="padding-left: 20px;"><a href="https://made.mail.ru"></a><img src="../static/pic/made.svg"><br>
				communitysixdevelopers © 2020</p>
        </footer>
	</body>
</html>