<html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="../static/style_table.css"/>
	    </head>
        <body>
            <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Признак</th>
      <th>Название признака</th>
      <th>Значение признака</th>
      <th>Среднее значение по датасету</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>q_toxic</td>
      <td>q_toxic</td>
      <td>0.0069</td>
      <td>0.1584</td>
    </tr>
    <tr>
      <th>1</th>
      <td>q_abs_neg</td>
      <td>q_abs_neg</td>
      <td>0.0184</td>
      <td>0.0291</td>
    </tr>
    <tr>
      <th>2</th>
      <td>q_neg</td>
      <td>q_neg</td>
      <td>0.1892</td>
      <td>0.2400</td>
    </tr>
    <tr>
      <th>3</th>
      <td>q_neutral</td>
      <td>q_neutral</td>
      <td>0.7183</td>
      <td>0.6432</td>
    </tr>
    <tr>
      <th>4</th>
      <td>q_pos</td>
      <td>q_pos</td>
      <td>0.0730</td>
      <td>0.0792</td>
    </tr>
    <tr>
      <th>5</th>
      <td>q_abs_pos</td>
      <td>q_abs_pos</td>
      <td>0.0011</td>
      <td>0.0085</td>
    </tr>
    <tr>
      <th>6</th>
      <td>q_threat</td>
      <td>q_threat</td>
      <td>0.0016</td>
      <td>0.0023</td>
    </tr>
    <tr>
      <th>7</th>
      <td>q_word_count</td>
      <td>q_word_count</td>
      <td>1.0000</td>
      <td>26.4184</td>
    </tr>
    <tr>
      <th>8</th>
      <td>q_char_count</td>
      <td>q_char_count</td>
      <td>6.0000</td>
      <td>187.4557</td>
    </tr>
    <tr>
      <th>9</th>
      <td>q_world_lenght</td>
      <td>q_world_lenght</td>
      <td>6.0000</td>
      <td>6.9057</td>
    </tr>
    <tr>
      <th>10</th>
      <td>q_stop_word_count</td>
      <td>q_stop_word_count</td>
      <td>0.0000</td>
      <td>9.2580</td>
    </tr>
    <tr>
      <th>11</th>
      <td>q_digit_count</td>
      <td>q_digit_count</td>
      <td>0.0000</td>
      <td>0.2943</td>
    </tr>
    <tr>
      <th>12</th>
      <td>q_title_word_count</td>
      <td>q_title_word_count</td>
      <td>1.0000</td>
      <td>2.8333</td>
    </tr>
    <tr>
      <th>13</th>
      <td>q_url_count</td>
      <td>q_url_count</td>
      <td>0.0000</td>
      <td>0.2333</td>
    </tr>
    <tr>
      <th>14</th>
      <td>q_emo_type</td>
      <td>q_emo_type</td>
      <td>0.0000</td>
      <td>0.0925</td>
    </tr>
    <tr>
      <th>15</th>
      <td>q_emb</td>
      <td>q_emb</td>
      <td>-0.0234</td>
      <td>-0.0176</td>
    </tr>
    <tr>
      <th>16</th>
      <td>a_toxic</td>
      <td>a_toxic</td>
      <td>0.0038</td>
      <td>0.2935</td>
    </tr>
    <tr>
      <th>17</th>
      <td>a_abs_neg</td>
      <td>a_abs_neg</td>
      <td>0.0066</td>
      <td>0.0627</td>
    </tr>
    <tr>
      <th>18</th>
      <td>a_neg</td>
      <td>a_neg</td>
      <td>0.0896</td>
      <td>0.2563</td>
    </tr>
    <tr>
      <th>19</th>
      <td>a_neutral</td>
      <td>a_neutral</td>
      <td>0.8383</td>
      <td>0.5949</td>
    </tr>
    <tr>
      <th>20</th>
      <td>a_pos</td>
      <td>a_pos</td>
      <td>0.0584</td>
      <td>0.0781</td>
    </tr>
    <tr>
      <th>21</th>
      <td>a_abs_pos</td>
      <td>a_abs_pos</td>
      <td>0.0070</td>
      <td>0.0080</td>
    </tr>
    <tr>
      <th>22</th>
      <td>a_threat</td>
      <td>a_threat</td>
      <td>0.0017</td>
      <td>0.0118</td>
    </tr>
    <tr>
      <th>23</th>
      <td>a_word_count</td>
      <td>a_word_count</td>
      <td>1.0000</td>
      <td>16.8052</td>
    </tr>
    <tr>
      <th>24</th>
      <td>a_char_count</td>
      <td>a_char_count</td>
      <td>3.0000</td>
      <td>126.0529</td>
    </tr>
    <tr>
      <th>25</th>
      <td>a_word_lenght</td>
      <td>a_word_lenght</td>
      <td>3.0000</td>
      <td>7.0027</td>
    </tr>
    <tr>
      <th>26</th>
      <td>a_stop_word_count</td>
      <td>a_stop_word_count</td>
      <td>1.0000</td>
      <td>5.2029</td>
    </tr>
    <tr>
      <th>27</th>
      <td>a_digit_count</td>
      <td>a_digit_count</td>
      <td>0.0000</td>
      <td>0.0948</td>
    </tr>
    <tr>
      <th>28</th>
      <td>a_title_word_count</td>
      <td>a_title_word_count</td>
      <td>0.0000</td>
      <td>1.7833</td>
    </tr>
    <tr>
      <th>29</th>
      <td>a_url_count</td>
      <td>a_url_count</td>
      <td>0.0000</td>
      <td>0.2546</td>
    </tr>
    <tr>
      <th>30</th>
      <td>a_emo_type</td>
      <td>a_emo_type</td>
      <td>0.0000</td>
      <td>0.1201</td>
    </tr>
    <tr>
      <th>31</th>
      <td>a_emb</td>
      <td>a_emb</td>
      <td>-0.0280</td>
      <td>-0.0210</td>
    </tr>
    <tr>
      <th>32</th>
      <td>qa_cos_sim</td>
      <td>qa_cos_sim</td>
      <td>0.6462</td>
      <td>0.3957</td>
    </tr>
    <tr>
      <th>33</th>
      <td>qa_is_joke</td>
      <td>qa_is_joke</td>
      <td>0.8042</td>
      <td>0.6202</td>
    </tr>
    <tr>
      <th>34</th>
      <td>qa_is_best</td>
      <td>qa_is_best</td>
      <td>0.3359</td>
      <td>0.3398</td>
    </tr>
  </tbody>
</table>
        </body>
        </html>
        