
            <head>
                <meta charset="utf-8">
                <link rel="stylesheet" type="text/css" href="../static/style_table.css"/>
            </head>
            <body>
                <center>
                <table border="1" class="dataframe table_prob" id="table_prob">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Вопрос</th>
      <th>Ответ</th>
      <th>Вероятность</th>
      <th>Время запроса</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Кто снял фильм "Страх и ненависть в Лас-Вегасе"?</td>
      <td>...а снял-оператор Никола Пекорини</td>
      <td>0.417</td>
      <td>2020-12-22_11.41.49</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Кто снял фильм "Страх и ненависть в Лас-Вегасе"?</td>
      <td>режисер - Терри Гиллиам а снял - оператор</td>
      <td>0.373</td>
      <td>2020-12-22_11.41.49</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12</td>
      <td>123</td>
      <td>0.230</td>
      <td>2020-12-22_11.41.43</td>
    </tr>
  </tbody>
</table>
                </center>
                <script src="../static/doubleClickRowTable.js"></script>
            </body>
            